<div class="wrapper">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


    <ng-container matColumnDef="slno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SlNo. </th>
      <td mat-cell *matCellDef="let element"> {{element.custId}} </td>
    </ng-container>

    <ng-container matColumnDef="customerName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}}&nbsp;{{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="locality">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Locality </th>
      <td mat-cell *matCellDef="let element"> {{element.locality}} </td>
    </ng-container>

    <ng-container matColumnDef="houseType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> House Type </th>
      <td mat-cell *matCellDef="let element"> {{element.houseType}} </td>
    </ng-container>

    <ng-container matColumnDef="houseNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> House Number </th>
      <td mat-cell *matCellDef="let element"> {{element.houseNo}} </td>
    </ng-container>

    <ng-container matColumnDef="plotNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Plot Number </th>
      <td mat-cell *matCellDef="let element"> {{element.plotNo}} </td>
    </ng-container>

    <ng-container matColumnDef="propertyRegistrationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Property Registration Date </th>
      <td mat-cell *matCellDef="let element"> {{element.propertyRegistrationDate}} </td>
    </ng-container>

    <ng-container matColumnDef="area">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Area </th>
      <td mat-cell *matCellDef="let element"> {{element.area}} </td>
    </ng-container>

                        <!-- buttons -->

    <ng-container  matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element"><button  (click)="func(element)" mat-stroked-button color="primary">Edit</button> </td>
    </ng-container>

    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Angular 8 pagination -->
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>